<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Activities</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${activities} and ${activities.size()}">No activities!</p>

<table>
    <tr>
        <th>Activity</th>
        <th>Completed?</th>
    </tr>
    <th:block th:each="activity : ${activities}">
        <tr>
            <td th:text="${activity.name}"></td>
            <td th:text="${activity.completed}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>