<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Activities</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${activities} and ${activities.size()}">No activities!</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Completed?</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="activity : ${activities}">
            <tr>
                <td th:text="${activity.name}"></td>
                <td th:if="${activity.completed}">&#x2611</td>
                <td th:if="!${activity.completed}">&#x2610</td>
            </tr>
        </th:block>
    </tbody>
</table>

</body>
</html>